.up-btn{
    cursor: pointer;
    --c1: #a37ea6;
    --c2: #322A7C;
    transition: 0.5s;
    background: linear-gradient(135deg, var(--c1, #322A7C),
     var(--c2, #a37ea6) 51%, var(--c1, #322A7C)) var(--x, 0)/ 200%;
    font-size: inherit;
    font-weight: 600;
    padding: 0.5rem;
    width: 100px;
    border-radius: 50px;
    margin: 1rem;
    outline: none;
    border: none;
    color: inherit;
    box-sizing: border-box;
    vertical-align: middle;
    margin-bottom: 2rem;
    &:hover{
        --x: 100%;
        box-shadow:  inset 1px 1px 3px 0px #130e39;

    }
 
}
a{
    text-decoration: none;
    color: white;
}
.projects{
    background-color: #f7f7f7;
    padding-top: 2rem;
    @media  screen and (min-width:768px) {
        padding-top: 0;
    }
    .section-name{
        padding-bottom: 2rem;

    }
}
.visit-btn{
    padding: 0.2rem;
    border-radius: 7px;
    margin: 0.2rem;
    font-size: smaller;
    width: 70px;
}
.carousel{
    .thumb{
        border-radius: 5px;
        border: 2px solid white;
    }

}