.education {
  width: 300px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    box-sizing: border-box;
    width: 100%;

  }
  @media screen and (min-width: 1024px) {
    padding: 0 2vw;
    width: 100%;
  }
  @media screen and (min-width: 1440px) {
    width: 1130px;

  }

  .education-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @media screen and (min-width: 768px) {
        grid-auto-flow: column;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-rows: 100px 120px;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    @media screen and (min-width: 1440px) {
        width: 100%;
    
      }

  }
}
.education-item {
  padding-bottom: 2rem;
  text-align: left;


 
  @media screen and (min-width: 768px) {
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
  }


  h2 {
    font-weight: 400;
    margin: 1rem 0 0.5rem 0;
    &.python-dev{

      }
  }
  h4 {
    font-weight: 200;
    margin: 0;
    &.spec {
      @media screen and (min-width: 768px) {
        padding-bottom: 13px;
      }
    }
  }
}
.education-item:last-child {
  padding-bottom: 0;
}
 .school-info {
    @media screen and (min-width: 768px) {
      display: grid;
      justify-content: center;
    }
    .date {
        margin-top: 1.3rem;
      }
    
      .date,
      .place {
        display: flex;
    
        p {
          margin: 0;
          padding-left: 20px;
          text-align: left;
        }
      }
  }