.App {
  text-align: center;
}
h1,h2,h3,h4 {
  font-family: "Montserrat", sans-serif;
}
h1{
  font-size: 2rem;
  font-weight: 600;
}

p, li {
  font-family: "Quicksand", sans-serif;
}
h1.section-name{
  color:#201b7c;
  margin-top: 3rem;
}
html, body{
  font-size: 20px;

}
section{
  padding: 0 10px;
}
@media screen and (min-width: 1024px) {
  section{
    padding: 0 25vw;

  }
}
