.show-more {
  vertical-align: middle;
  display: flex;
  padding-left: 30px;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  button {
    background: none;
    outline: none;
    border: none;
    height: fit-content;
  }
  h2{
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
  }
}
.exp-timeline {
  position: relative;
}
.exp-timeline::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: black;
  left: 16px;
}
.exp-item {
  position: relative;
  .exp-description{
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
  }
  h3{
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
  }
}
.exp-dot {
  height: 20px;
  width: 20px;
  background-color: #E8B0E9;
  position: absolute;
  left: -3px;
  border-radius: 50%;
  top: 10px;
}
